-# .container
-#   .row.list-group
-#     -@works.each do |work|
-#       .list-group-item
-#         =link_to "#{work.title} / #{work.director.name}(#{work.release.year})", work_path(work)
-#         %hr
-#         = " title :"
-#         = link_to "#{work.title}", work_path(work)
-#         = " /#{work.director.name} (#{work.release.year})"
-#         %br
-#         = " starring :"
-#         = work.starring
-#         %br
-#         = " description :"
-#         = work.description
-#         =link_to higher_work_path(work), class: work.first? ? ' disabled' : ''do
-#           %i.fa.fa-arrow-up{"aria-hidden" => "true"}
-#         %hr
-#         =link_to "Edit", edit_work_path(work)
-#         =link_to "Delete", work_path(work), method: :delete, data: {confirm: "Are you sure?"}
-# =link_to "Registrarion", new_work_path

%main#main
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 Movie index
          %p.mb-0 Every week we get new exciting movies
        .col-md-12.col-lg-6.text-left.text-lg-right{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .filters
            =link_to "Director", directors_path
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@works.each do |work|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            =link_to work_path(work), class: 'item-wrap fancybox' do
              .work-info
                %h3=work.title
                %span=work.release.try(:year)
                %br
                %span=work.director.name
              -if work.image.present?
                =image_tag work.image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed
              -else
                %img.img-fluid{:src => "/img/default_work.png"}/
      =paginate @works
      -# = search_form_for @q do |f|
      -#   = f.label :title, "Keyword"
      -#   = f.search_field :title_or_director_name_cont
      -#   = f.submit "Search"
      .index-tags
        %ul.cp_tag01
          -@tags.each do |tag|
            =link_to tag.name, tag_path(tag)
      -if user_signed_in?
        =link_to "Registration", new_login_work_path, class: "btn btn-outline-danger"
