-# = @work.title
-# %br
-# = link_to "#{@work.director.name}", director_path(@work.director)
-# %br
-# = @work.release
-# %br
-# = @work.starring
-# %br
-# = @work.description
-# %hr
-# = "#{@work.director.name} works"
-# %br
-# = "Also recommended..."
-# %br
-# -@work.related_works.each do |work|
-#   = link_to "#{work.title}(#{work.release.year})", work_path(work)
-# %br
-# %hr
-# =link_to "Edit", edit_login_work_path(@work)
-# %br
-# =link_to "Back to the list", works_path

%main#main
  %section.section
    .container
      .row.mb-4.align-items-center
        .col-md-6{"data-aos" => "fade-up"}
          %h2=@work.title
          %p
            release: #{@work.release.try(:year)}
            %br
            director:
            =link_to "#{@work.director.name}", director_path(@work.director)
            %br
            -@work.tags.each do |tag|
              =link_to tag.name, tag_path(tag), class: "badge badge-secondary"
            %br
            %br
            -if user_signed_in?
              =link_to "Edit", edit_login_work_path(@work), class: "btn btn-outline-info"
              =link_to "Delete", login_work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-secondary"
    .site-section.pb-0
      .container
        .row.align-items-stretch
          .col-md-8{"data-aos" => "fade-up"}
            -if @work.image.present?
              =image_tag @work.image.variant(resize:"730x730^").processed
            -else
              %img.img-fluid{:src => "/img/default_work_large.png"}/
          .col-md-3.ml-auto{"data-aos" => "fade-up", "data-aos-delay" => "100"}
            .sticky-content
              %h3.h3=@work.title
              %p.mb-4
                %span.text-muted=@work.release.try(:year)
              .mb-5
                %p=@work.description
              %h4.h4.mb-3 Director
              %ul.list-unstyled.list-line.mb-5
                =link_to "#{@work.director.name}", director_path(@work.director)
    -if @work.related_works.present?
      .site-section.pb-0
        .container
          .row.justify-content-center.text-center.mb-4
            .col-5
              %h3.h3.heading #{@work.director.name} Works
              %p There are also recommended...
          .row{"data-aos" => "fade-up", "data-aos-delay" => "200"}
            -@work.related_works.each do |work|
              .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
                =link_to work_path(work), class: 'item-wrap fancybox' do
                  .work-info
                    %h3=work.title
                    %span=work.release.try(:year)
                  -if work.image.present?
                    =image_tag work.image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed, class: 'img-fluid'
                  -else
                    %img.img-fluid{:src => "/img/default_work_large.png"}/
