-@directors.each do |director|
  %hr
  = " name :"
  = link_to "#{director.name}", director_path(director)
  %br
  = " from :"
  = director.from
  %br



  =link_to "Edit", edit_director_path(director)
  =link_to "Delete", director_path(director), method: :delete, data: {confirm: "Are you sure?"}
%hr
=link_to "Registrarion", new_director_path
