!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Movie
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield

  = javascript_include_tag "application"
